{% extends 'catalog/base.html' %}

{% block content_1 %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.staff }}</h4>
                <h4 class="my-0 font-weight-normal">{{ object.staff.name_category }}</h4>
                <h4 class="my-0 font-weight-normal">телефон {{ object.staff.phone }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li> Дата приема {{ object.date_recorded }}</li>
                    <li> Время приема {{ object.time_recorded }}</li>
                    <li> Время записи {{ object.create_time }}</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}