{% extends 'catalog/base.html' %}

{% block content_1 %}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'record:create' %}">Добавить запись</a>
    </div>
    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
{#                <div class="card-header">#}
{#                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>#}
{#                </div>#}
                <div class="card-body">
                    <p class="card-text">
                        {{ object.name }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'record:view' object.pk %}"
                               class="btn btn-sm btn-outline-primary">View</a>
                            <a href="{% url 'record:edit' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-primary">Edit</a>
                            <a href="{% url 'record:delete' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-primary">Delete</a>
                        </div>
                    </div>
{#                    <a href="product/{{ object.id }}" class="btn btn-lg btn-block btn-outline-primary">Купить</a>#}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}