{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content_1 %}
    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <div class="card-header">
                    <img src="{% mymedia object.avatar %}" class="card-img-top object-fit-none" style="height:190px;" alt=""/>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>телефон - {{ object.phone }}</li>
                        <li>@email - {{ object.email }}</li>
                        <li>категория {{ object.name_category }}</li>
                    </ul>
                    {% if perms.catalog.view_service %}
                        <a href="{% url 'record:create' %}" class="btn btn-sm btn-block btn-outline-primary">Запись на прием к врачу</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}



